.sidenav {
  display: none;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: deepskyblue;
  overflow-x: hidden;
  padding-top: 60px;
  border: solid;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  
}
.sidenav a:hover {
  color: darkgray;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
    .Heading1 {width: 10%}
}
.Heading1{
    height:30px;
    Width:56%;
    background-color: white;
    text-align: left;
    font-size: 20px;
    float: right;
    margin-right: 2%;
    
}
.Photo1{
    width: 80%;
    height: 80%;
    margin-top: -495px;
    position: absolute;
    margin-left: 10px
    
}
.Main{
    height: 1000px;
    width: 98%;
    text-align: center;
    border: solid;
    background-color: lightgray;
    margin-top: 20px;
    margin-right: 1%;
    margin-left: 1%;
}
.MainHeader{
    height: 80px;
    width: 100%;
    background-color: darkturquoise;
    margin-top: 4px;
    font-size: 50px;
    text-align: center;
    border-bottom-style: solid;
    border-top: solid;
}

@media only screen and (max-width: 1000px) {
    .MainHeader{
        *visibility: visible;
    }
    .sidenav{
        width: 100%;
    }
