.sidenav {
  display: none;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: deepskyblue;
  overflow-x: hidden;
  padding-top: 60px;
  border: solid;
  border-width: thin;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  
}

.sidenav a:hover {
  color: darkslategrey;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.topHeading{
    height:30px;
    Width:56%;
    background-color: white;
    text-align: left;
    font-size: 20px;
    float: right;
    margin-right: 2%; 
}
 .Photo1{
    float: left;
    height: 100%;
    width: auto;    
}
.mainInfo{
    height: 78vh;
    width: 98%;
    border: solid;
    border-width: thin;
    background-color: lightgray;
    margin-top: 20px;
    margin-right: 1%;
    margin-left: 1%;
    

} 
.mainHeader{
    height: 80px;
    width: 100%;
    background-color: darkturquoise;
    margin-top: 4px;
    font-size: 50px;
    border-bottom-style: solid;
    border-top: solid;
    border-width: thin;
    text-align: center;
}
.text{
    display: block;
    float: center;
    height: auto;
    width: 100%;
    background-color: lightgray;

}
.bottomImage{
    margin-top: 20px;
    width: 100%;  
    height: auto;
    border: solid;
    border-width: thin;*/   
}

@media only screen and (max-width: 1500px) {
    .MainHeader{
        *visibility: visible;
    }
    .sidenav{
        width: 100%;
    }
    .Photo1{
        width: 100%; 
    }
    .text{
           border: solid;
           border-width: thin; 
    }
    .bottomImage{
        margin-top: 320px
    }
    @media only screen and (max-width: 1250px){
        .bottomImage{
            margin-top: 400px;
        }
    }
    @media only screen and (max-width: 1000px){
    .bottomImage{
        visibility: hidden;
    }
        
@media screen and (max-height: 1200px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
    .Heading1 {*visibility: hidden;}