.Heading1{
    height:30px;
    Width:80%;
    background-color: lightgray;
    text-align: center;
    margin-left: 50px;
    margin-left: 50px;
}
.Main{
    height: 1000px;
    width: 1000px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%
}
.MenuIcon{
    width:2%;
    height: 2%;    
}
